- const getInputName = (f, property) => `${f.name}[${property}]`

-
  const validClassName = (f, property) => {
    if (_.isEmpty(f.errors)) return '';
    if (f.errors[property]) return 'is-invalid';
    return 'is-valid';
  };

mixin formFor(f, options = {})
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase();
  - const isStandart = _.includes(['get', 'post'], method);
  form(action= url method= isStandart ? method : 'post')
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block

mixin input(f, property, options = { as: 'text' })
  // options could have property [as] to set Type of input, and property [label] to set custom label
  - const label = options.label || _.capitalize(property)
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group.row(class=(f.errors[property] && 'has-danger'))
    label.col-lg-3.col-form-label= label
    .col-lg-9
      input.form-control(name=getInputName(f, property) class=`${validClassName(f, property)}` type=options['as'] value=`${value}`)
      if options.help
        small= options.help
      if f.errors[property]
        .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin checkbox(f, property, options = { as: 'text' })
  - const label = options.label || _.capitalize(property)
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group.row(class=(f.errors[property] && 'has-danger'))
    .col-lg-3
    .col-lg-9
      .form-check
        input.form-check-input(name=getInputName(f, property) class=`${validClassName(f, property)}` type='checkbox' checked=!!value)
        label.form-check-label= label
        if f.errors[property]
          .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin textarea(f, property, options = { as: 'text' })
  - const label = options.label || _.capitalize(property)
  - const value = f.object[property] === undefined ? '' : f.object[property]
  .form-group.row(class=(f.errors[property] && 'has-danger'))
    label.col-lg-3.col-form-label= label
    .col-lg-9
      textarea.form-control(name=getInputName(f, property) class=`${validClassName(f, property)}`)= `${value}`
      if options.help
        small= options.help
      if f.errors[property]
        .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin button(f,value = 'Submit', type = 'submit')
  .form-group.row
    label.col-lg-3.col-form-label
    .col-lg-9
      input.btn.btn-primary(type=`${type}` value=`${value}`)

mixin select(f, property, options = { multiple: false })
  // options could have boolean property [multiple], and property [label] to set custom label
  - const label = options.label || _.capitalize(property)
  .form-group.row(class=(f.errors[property] && 'has-danger'))
    label.col-lg-3.col-form-label= label
    .col-lg-9
      select.custom-select(name=getInputName(f, property) class=`${validClassName(f, property)}`)
        block
      if f.errors[property]
        .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin option(value, name, options = {})
  - const { selected = false, disabled = false , hidden = false} = options
  option(value=`${value}`, selected=selected, disabled=disabled, hidden=hidden)= name



mixin loneInput(f, property, options = { as: 'text' })
  - const label = options.label || _.capitalize(property)
  - const value = f.object[property] === undefined ? '' : f.object[property]
  - const name = options.pureNames ? property : getInputName(f, property);
  input.form-control(name=name class=`${validClassName(f, property)}` type=options['as'] value=`${value}`)
  if options.help
    small= options.help
  if f.errors[property]
    .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')

mixin loneSelect(f, property, options = { multiple: false })
  // options could have boolean property [multiple], and property [label] to set custom label
  - const label = options.label || _.capitalize(property)
  - const name = options.pureNames ? property : getInputName(f, property);
  select.custom-select(name=name class=`${validClassName(f, property)}`)
    block
  if f.errors[property]
    .invalid-feedback= f.errors[property].map(({ message }) => message).join('. ')
