extends /layouts/application.pug

mixin statusCard(status)
  - const { name, id } = status
  - const tasksCount = status.get('tasksCount')
  - const ammountMessage = tasksCount === 1 ? `${tasksCount} task` : `${tasksCount} tasks`
  .card.text-center.h-100
    .card-header.bg-info.text-white
      h4.d-inline= name
      if status.default
        |
        |
        span.badge.badge-dark default
    .card-body
      if tasksCount != 0
        p.card-text
          | You have
          |
          a.badge.badge-light(href=urlFor('getTasks', 'all', { query: { hasStatusId: id } }))=  ammountMessage
          |  with status #[span.font-weight-bold= name].
      else
        p.card-text
          | You didn't have any card with status #[span.font-weight-bold= name].
      .btn-group
        a.btn.btn-warning.btn-sm(href=urlFor('statusEdit', { id }) role='button') Edit
        a.btn.btn-danger.btn-sm(href=urlFor('status', { id }) role='button' data-method='delete' rel='nofollow') Delete


block content
    .container.bg-white.border.rounded
      .row.mt-4.mb-2
        .col.d-flex
          button.ml-auto.btn.btn-success(data-toggle='modal' data-target='#addNewStatusModal') New status
      h2.h4.pb-1.pl-2.mb-3.mt-1.border-bottom Statuses:
      .row
        for status in statuses
          .col-12.col-sm-6.col-md-4.mb-4
            +statusCard(status)

    .modal.fade#addNewStatusModal(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
            .modal-header
              h4.mb-0 Add status
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              +formFor(f, { url: urlFor('statuses'), method: 'post' })
                +input(f, 'name', { label: 'Status name' })
                if !f.object.default
                  +checkbox(f, 'makeDefault', { label: 'Make default' })
                +button(f, 'Create')
