extends /layouts/application.pug

block content
  .container.bg-white.border.rounded
    h2.h4.mt-3.py-1.pl-2.border-bottom Users:
    .container
      table.mx-auto.table.table-hover.mt-3
        thead.table-borderless
          tr.border-top-0
            th Name
            th Mail
            th Created tasks
            th Assigned tasks
        tbody
          each user in users
            - const createdTasksCount = user.get('createdTasksCount')
            - const assignedTasksCount = user.get('assignedTasksCount')
            tr
              td= user.fullName
              td
                a(href=`mailto:${user.email}`)= user.email
              td
                a(href=urlFor('getTasks', {}, { query: { createdByUser: user.email } }))= `${createdTasksCount} tasks`
              td
                a(href=urlFor('getTasks', {}, { query: { assignedToUser: user.email } }))= `${assignedTasksCount} tasks`
